<launch>
	<node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
	    <param name="footprint_padding" value="0.01" />
	    <param name="controller_frequency" value="10.0" />
	    <param name="controller_patience" value="3.0" />
	    <param name="oscillation_timeout" value="30.0" />
	    <param name="oscillation_distance" value="0.5" />


	    <rosparam file="$(find eurathlonTRADR2016)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
	    <rosparam file="$(find eurathlonTRADR2016)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
	    <rosparam file="$(find eurathlonTRADR2016)/cfg/local_costmap_params.yaml" command="load" />
	    <rosparam file="$(find eurathlonTRADR2016)/cfg/global_costmap_params.yaml" command="load" />
	    <rosparam file="$(find eurathlonTRADR2016)/cfg/base_local_planner_params.yaml" command="load" />
	    <rosparam file="$(find eurathlonTRADR2016)/cfg/dwa_local_planner_params.yaml" command="load" />
	    <rosparam file="$(find eurathlonTRADR2016)/cfg/navfn_global_planner.yaml" command="load" />
	<!--     <param name="controller_frequency" value="3.0" /> -->
	</node>
</launch>